In [1]:
import pandas as pd
import numpy as np
people = ['Ann','Brandon','Chen','David','Emily','Farook',
          'Gagan','Hamish','Imran','Joseph','Katherine','Lily']
age = [21,12,32,45,37,18,28,52,5,40,48,15]
weight = [55,35,77,68,70,60,72,69,18,65,82,48]
height = [160,135,170,165,173,168,175,159,105,171,155,158]

people_dict={'People':people,'Age':age,'Weight':weight,'Height':height}
people_df=pd.DataFrame(data=people_dict)
people_df

       People  Age  Weight  Height
0         Ann   21      55     160
1     Brandon   12      35     135
2        Chen   32      77     170
3       David   45      68     165
4       Emily   37      70     173
5      Farook   18      60     168
6       Gagan   28      72     175
7      Hamish   52      69     159
8       Imran    5      18     105
9      Joseph   40      65     171
10  Katherine   48      82     155
11       Lily   15      48     158

In [2]:
print(people_df.shape)

(12, 4)

In [3]:
print(people_df['Age'].count())

12

In [4]:
print(people_df['Age'].sum())

353

In [5]:
print(people_df['Age'].mean())

29.416666666666668

In [6]:
print(people_df['Weight'].median())

66.5

In [7]:
print(people_df['Height'].max())

175

In [8]:
print(people_df['Weight'].std())

18.45120510148239

In [9]:
pcnt_75 = np.percentile(people_df['Age'],75)
pcnt_25 = np.percentile(people_df['Age'],25)
print("Inter-quartile range: ",pcnt_75-pcnt_25)

Inter-quartile range:  24.0

In [10]:
print(people_df.describe())

             Age     Weight      Height
count  12.000000  12.000000   12.000000
mean   29.416667  59.916667  157.833333
std    15.329463  18.451205   19.834925
min     5.000000  18.000000  105.000000
25%    17.250000  53.250000  157.250000
50%    30.000000  66.500000  162.500000
75%    41.250000  70.500000  170.250000
max    52.000000  82.000000  175.000000