In [1]:
import numpy as np 

import pandas as pd 

import matplotlib.pyplot as plt 

df = pd.read_excel("../datasets/Sample - Superstore.xls") 

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [2]:
df_1 = df[['Customer Name','State','Sales','Profit']].sample(n=4) 

df_2 = df[['Customer Name','State','Sales','Profit']].sample(n=4) 

df_3 = df[['Customer Name','State','Sales','Profit']].sample(n=4)

In [3]:
df_cat1 = pd.concat([df_1,df_2,df_3], axis=0) 

df_cat1

           Customer Name                 State   Sales   Profit
1174        Dave Poirier              New York  50.112  16.2864
2005        Rob Williams              Missouri  29.680  11.5752
1708        Jamie Kunitz            California   7.420   3.7100
1846       Dianna Arnett  District of Columbia  37.680  15.8256
6440        Bart Watters              New York  34.700  12.4920
682          Doug Jacobs              New York  68.600  18.5220
4274     Andrew Gjertsen            Washington   3.592   1.1225
2317   Elizabeth Moffitt          South Dakota  60.830  30.4150
9873      Sara Luxemburg              New York   6.480   3.1104
2247  Justin MacKendrick            California  13.360   6.4128
5178          Bill Tyler            California  37.680  15.8256
9374         Ken Brennan            Washington  61.380  15.9588

In [4]:
df_cat2 = pd.concat([df_1,df_2,df_3], axis=1) 

df_cat2

,Customer Name,State,Sales,Profit,Customer Name,State,Sales,Profit,Customer Name,State,Sales,Profit
682,NaN,NaN,NaN,NaN,Doug Jacobs,New York,68.600,18.5220,NaN,NaN,NaN,NaN
1174,Dave Poirier,New York,50.112,16.2864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1708,Jamie Kunitz,California,7.420,3.7100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1846,Dianna Arnett,District of Columbia,37.680,15.8256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,Rob Williams,Missouri,29.680,11.5752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Justin MacKendrick,California,13.36,6.4128
2317,NaN,NaN,NaN,NaN,Elizabeth Moffitt,South Dakota,60.830,30.4150,NaN,NaN,NaN,NaN
4274,NaN,NaN,NaN,NaN,Andrew Gjertsen,Washington,3.592,1.1225,NaN,NaN,NaN,NaN
5178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bill Tyler,California,37.68,15.8256
6440,NaN,NaN,NaN,NaN,Bart Watters,New York,34.700,12.4920,NaN,NaN,NaN,NaN
9374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ken Brennan,Washington,61.38,15.9588
9873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sara Luxemburg,New York,6.48,3.1104