In [2]:
import sqlite3
with sqlite3.connect("../lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("INSERT INTO user VALUES ('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')")
    conn.commit()
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user ORDER BY age DESC')
    for row in rows:
        print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39, 'M')
('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')
('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')

In [3]:
rows = cursor.execute("SELECT COUNT(*), gender FROM user GROUP BY gender")
for row in rows:
        print(row)

(1, 'F')
(2, 'M')