# Illustration of a practical data wrangling task

In this Notebook, we will show a practical data wrangling task step-by-step - how it is structured, what you should watch for, and how to improvise.

### The task
Imagine the question: ***"In India, did the enrollment in primary/secondary/tertiary education increase with improvement of per capita GDP in the past 15 years?"***

Now, the actual modeling and analysis will be done by some senior data scientist, who will use some machine learning and visualization for the job. As a data wrangling expert, **your job is to acquire and provide her with a clean dataset which contains educational enrollment and GDP data side by side.**

### The data source

Suppose you have a link for a **[dataset from the United Nations](http://data.un.org)** and you can download the dataset of education (for all the nations around the world). But this dataset has some missing values and moreover it does not have any GDP information. Someone has given you another separate CSV file (downloaded from the World Bank site) which contains GDP data but in a messy format.

In this notebook, we will examine how to handle these two separate sources and to clean the data to prepare a simple final dataset with the required data and save it to the local drive as a SQL database file.

The link for the education data: http://data.un.org/_Docs/SYB/CSV/SYB61_T07_Education.csv

The link for the GDP data (hosted on Github repository for this course): https://github.com/fenago/data-wrangling-python/blob/master/lab09/datasets/India_World_Bank_Info.csv

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

### URL of the dataset

In [ ]:
education_data_link="http://data.un.org/_Docs/SYB/CSV/SYB61_T07_Education.csv"

### Use `pd.read_csv()` method of Pandas to directly pass this link and create a DataFrame.

In [ ]:
df1 = pd.read_csv(education_data_link)

In [ ]:
df1.head()

### The first row does not contain useful information. We should use `skiprows` parameter

In [ ]:
df1 = pd.read_csv(education_data_link,skiprows=1)

In [ ]:
df1.head()

### Drop the column `Region/Country/Area` and `Source`. They don't look useful

In [ ]:
df2 = df1.drop(['Region/Country/Area','Source'],axis=1)

### Assign the following names as the columns of the dataframe: `['Region/Country/Area','Year','Data','Value','Footnotes']`

In [ ]:
df2.columns=['Region/Country/Area','Year','Data','Enrollments (Thousands)','Footnotes']

In [ ]:
df2.head()

### Why don't we drop the `Footnotes` column?

If you download the CSV file and open it using Excel then you will see the `Footnotes` column sometimes contain useful notes. We may not want to drop it in the beginning. If we are interested in particular country's data (like we are in this task) then it may well turn out that `Footnotes` will be `NaN` i.e. blank. In that case, we can drop it at the end. But for some countries or region it may contain information.

We can, of course, check how many unique values the `Footnotes` column contains.

In [ ]:
df2['Footnotes'].unique()

### The `Value` column data is not numeric but we need them to be numbers for further processing

In [ ]:
type(df2['Enrollments (Thousands)'][0])

### Write a small utility function to convert the strings in `Value` column to floating point numbers

In [ ]:
def to_numeric(val):
    """
    Converts a given string (with one or more commas) to a numeric value
    """
    if ',' not in str(val):
        result = float(val)
    else:
        val=str(val)
        val=''.join(str(val).split(','))
        result=float(val)
    return result

### Use the `apply()` method to apply this function to the `Value` column data

In [ ]:
df2['Enrollments (Thousands)']=df2['Enrollments (Thousands)'].apply(to_numeric)

### Print unique types of data in the `Data` column

In [ ]:
df2['Data'].unique()

### Create three DataFrames by filtering and selecting from the original DataFrame
* **`df_primary`**: Only *"Students enrolled in primary education (thousands)"*
* **`df_secondary`**: Only *"Students enrolled in secondary education (thousands)"*
* **`df_tertiary`**: Only *"Students enrolled in tertiary education (thousands)"*

In [ ]:
df_primary = df2[df2['Data']=='Students enrolled in primary education (thousands)']
df_secondary = df2[df2['Data']=='Students enrolled in secondary education (thousands)']
df_tertiary = df2[df2['Data']=='Students enrolled in tertiary education (thousands)']

### Make bar charts of primary students enrollment in a low-income country like India and a high-income country like USA.

In [ ]:
primary_enrollment_india = df_primary[df_primary['Region/Country/Area']=='India']
primary_enrollment_USA = df_primary[df_primary['Region/Country/Area']=='United States of America']

In [ ]:
primary_enrollment_india

In [ ]:
primary_enrollment_USA

In [ ]:
plt.figure(figsize=(8,4))
plt.bar(primary_enrollment_india['Year'],primary_enrollment_india['Enrollments (Thousands)'])
plt.title("Enrollment in primary education\nin India (in thousands)",fontsize=16)
plt.grid(True)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
plt.xlabel("Year", fontsize=15)
plt.show()

In [ ]:
plt.figure(figsize=(8,4))
plt.bar(primary_enrollment_USA['Year'],primary_enrollment_USA['Enrollments (Thousands)'])
plt.title("Enrollment in primary education\nin the United States of America (in thousands)",fontsize=16)
plt.grid(True)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
plt.xlabel("Year", fontsize=15)
plt.show()

### Data imputation

Clearly, we are missing some data. Let's say we decide to **impute these data points by simple linear interpolation between available data points.**

We can take out a pen and paper or a calculator, and compute those values and manually create a dataset somewhow. But being a data wrangler, we will of course take advantage of Python programming, and use Pandas imputation methods for this task. 

But to do that, we first need to create a dataframe with missing values inserted which means we need to append another dataframe with missing values to the current dataframe.

### (For India) Append rows corresponding to missing years - 2004 - 2009, 2011 - 2013

In [ ]:
missing_years = [y for y in range(2004,2010)]+[y for y in range(2011,2014)]

In [ ]:
missing_years

#### Creating a dictionary of values with `np.nan`.  Note, there are 9 mising data points, so we need to create list with identical values repeated 9 times.

In [ ]:
dict_missing = {'Region/Country/Area':['India']*9,'Year':missing_years,
                'Data':'Students enrolled in primary education (thousands)'*9,
                'Enrollments (Thousands)':[np.nan]*9,'Footnotes':[np.nan]*9}

#### Create a dataframe of missing values (from the dictionary above) which we can append

In [ ]:
df_missing = pd.DataFrame(data=dict_missing)

#### Appending...

In [ ]:
primary_enrollment_india=primary_enrollment_india.append(df_missing,ignore_index=True,sort=True)

In [ ]:
primary_enrollment_india

### Sort by `Year` and reset the indices using `reset_index()`. Use `inplace=True` to execute the changes on the dataframe itself.

In [ ]:
primary_enrollment_india.sort_values(by='Year',inplace=True)

In [ ]:
primary_enrollment_india.reset_index(inplace=True,drop=True)

In [ ]:
primary_enrollment_india

### Use `interpolate` method for linear interpolation. It fills all the `NaN` by linearly interpolated values.

See this link for more details about this method: http://pandas.pydata.org/pandas-docs/version/0.17/generated/pandas.DataFrame.interpolate.html

In [ ]:
primary_enrollment_india.interpolate(inplace=True)

In [ ]:
primary_enrollment_india

In [ ]:
plt.figure(figsize=(8,4))
plt.bar(primary_enrollment_india['Year'],primary_enrollment_india['Enrollments (Thousands)'])
plt.title("Enrollment in primary education\nin India (in thousands)",fontsize=16)
plt.grid(True)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
plt.xlabel("Year", fontsize=15)
plt.show()

### Repeat the same steps for USA

In [ ]:
missing_years = [2004]+[y for y in range(2006,2010)]+[y for y in range(2011,2014)]+[2016]

In [ ]:
missing_years

In [ ]:
dict_missing = {'Region/Country/Area':['United States of America']*9,'Year':missing_years,
                'Data':'Students enrolled in primary education (thousands)'*9,
                'Value':[np.nan]*9,'Footnotes':[np.nan]*9}

In [ ]:
df_missing = pd.DataFrame(data=dict_missing)

In [ ]:
primary_enrollment_USA=primary_enrollment_USA.append(df_missing,ignore_index=True,sort=True)

In [ ]:
primary_enrollment_USA.sort_values(by='Year',inplace=True)

In [ ]:
primary_enrollment_USA.reset_index(inplace=True,drop=True)

In [ ]:
primary_enrollment_USA.interpolate(inplace=True)

In [ ]:
primary_enrollment_USA

### Still the first value is unfilled. We can use `limit` and `limit_direction` parameters with `interpolate()` method to fill that.

How did we know this? By searching on Google and looking at this Stackoverflow page. 

Always, search for solution to your problem and look for what has already been done and try to implement that.

In [ ]:
primary_enrollment_USA.interpolate(method='linear',limit_direction='backward',limit=1)

In [ ]:
primary_enrollment_USA

In [ ]:
plt.figure(figsize=(8,4))
plt.bar(primary_enrollment_USA['Year'],primary_enrollment_USA['Enrollments (Thousands)'])
plt.title("Enrollment in primary education\nin the United States of America (in thousands)",fontsize=16)
plt.grid(True)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
plt.xlabel("Year", fontsize=15)
plt.show()

### GDP data for India

We will try to read the GDP data for India from a CSV file found in a World Bank portal. It is given to you and also hosted on the Gihub repo. 

But the Pandas `read_csv()` method will throw error if we try to read it normally. Let's see step-by-step how we can read useful information from it.

In [ ]:
df3=pd.read_csv("../datasets/India_World_Bank_Info.csv")

### We can try `error_bad_lines=False` option in this kind of situation

In [ ]:
df3=pd.read_csv("../datasets/India_World_Bank_Info.csv",error_bad_lines=False)

In [ ]:
df3.head(10)

### Clearly, the delimiter in this file is not `,` but tab (`\t`)

In [ ]:
df3=pd.read_csv("../datasets/India_World_Bank_Info.csv",error_bad_lines=False,delimiter='\t')

In [ ]:
df3.head(10)

### Again, the first 4 rows do not seem to be useful, so we can use `skiprows` parameter

In [ ]:
df3=pd.read_csv("../datasets/India_World_Bank_Info.csv",error_bad_lines=False,delimiter='\t',skiprows=4)

In [ ]:
df3.head(10)

### Closely examine the dataset
In this file the columns are the yearly data and rows are various type of information. 

Upon examining the file with Excel we find that the column `Indicator Name` is the one with the name of the particular data type. 

We filter the dataset with the information we are interested in and also transpose (rows and columns gets interchanged) to make it similar format of our previous education dataset.

In [ ]:
df4=df3[df3['Indicator Name']=='GDP per capita (current US$)'].T

In [ ]:
df4.head(10)

### There is no index, let's use `reset_index()` again

In [ ]:
df4.reset_index(inplace=True)

In [ ]:
df4.head(10)

### First 3 rows are not useful. We can redefine the dataframe without them. And we re-index again.

In [ ]:
df4.drop([0,1,2],inplace=True)

In [ ]:
df4.reset_index(inplace=True,drop=True)

In [ ]:
df4.head(10)

### Let's rename the columns properly (this is necessary for merging, which we will see shortly)

In [ ]:
df4.columns=['Year','GDP']

In [ ]:
df4.head(10)

### It looks like that we have GDP data from 1960 onward. But we are interested in 2003 - 2016. Let's examine the last 20 rows.

In [ ]:
df4.tail(20)

### So, we should be good with rows 43-56. Let's create a dataframe called `df_gdp`

In [ ]:
df_gdp=df4.iloc[[i for i in range(43,57)]]

In [ ]:
df_gdp

### We need to reset index again (for merging)

In [ ]:
df_gdp.reset_index(inplace=True,drop=True)

In [ ]:
df_gdp

### The `year` in this dataframe is not `int` type. So, it will have problem merging with the education dataframe.

In [ ]:
df_gdp['Year']

### Use `apply` method with Python built-in `int` function. Ignore any warning.

In [ ]:
df_gdp['Year']=df_gdp['Year'].apply(int)

### Now merge the two dataframes `primary_enrollment_india` and `df_gdp` on the `Year` column

In [ ]:
primary_enrollment_with_gdp=primary_enrollment_india.merge(df_gdp,on='Year')

In [ ]:
primary_enrollment_with_gdp

### Now we can drop the columns - `Data`, `Footnotes`, and `Region/Country/Area`

In [ ]:
primary_enrollment_with_gdp.drop(['Data','Footnotes','Region/Country/Area'],axis=1,inplace=True)

In [ ]:
primary_enrollment_with_gdp

### Re-arrange the columns for proper viewing and presentation to a data scientist

In [ ]:
primary_enrollment_with_gdp = primary_enrollment_with_gdp[['Year','Enrollments (Thousands)','GDP']]

In [ ]:
primary_enrollment_with_gdp

In [ ]:
plt.figure(figsize=(8,5))
plt.title("India's GDP per capita vs primary education enrollment",fontsize=16)
plt.scatter(primary_enrollment_with_gdp['GDP'],
            primary_enrollment_with_gdp['Enrollments (Thousands)'],
           edgecolor='k',color='orange',s=200)
plt.xlabel("GDP per capita (US $)",fontsize=15)
plt.ylabel("Primary enrollment (thousands)",fontsize=15)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
plt.grid(True)
plt.show()

### Connecting to a database and writing this values in a table

We start by importing the `sqlite3` module of Python and then use the `connect` function to connect to a database. 

If you already have some experience with database then you will notice that we are not using any server address, user name, password or similar kind of credentials to connect to a database. That is because in `sqlite3` we do not need them. The main database engine is embedded. But for a different database like Postgresql or MySQL we will need to connect to them using those credentials.

We designate `Year` as the PRIMARY KEY of this table.

In [ ]:
import sqlite3

In [ ]:
with sqlite3.connect("Education_GDP.db") as conn:
    cursor = conn.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS \
                   education_gdp(Year INT, Enrollment FLOAT, GDP FLOAT, PRIMARY KEY (Year))")

### Then we run a loop with the dataset rows one by one to insert them in the table

In [ ]:
with sqlite3.connect("Education_GDP.db") as conn:
    cursor = conn.cursor()
    for i in range(14):
        year = int(primary_enrollment_with_gdp.iloc[i]['Year'])
        enrollment = primary_enrollment_with_gdp.iloc[i]['Enrollments (Thousands)']
        gdp = primary_enrollment_with_gdp.iloc[i]['GDP']
        #print(year,enrollment,gdp)
        cursor.execute("INSERT INTO education_gdp (Year,Enrollment,GDP) VALUES(?,?,?)",(year,enrollment,gdp))

### If we look at the current folder, we should see a file `Education_GDP.db` and if we can examine that using a database viewer program, we can see the data transferred there.

### Summary

In this notebook, we examined a complete data wrangling flow including,
* reading data from web and local drive,
* filtering, 
* cleaning,
* quick visualization
* imputation,
* indexing
* merging
* writing back to a database table

We also wrote custom functions to transform some of the data and saw how to handle situations where we may get error reading the file.

**Students are encouraged to try extracting various data from these files and answer their own questions about nations' socio-economic factors**