In [1]:
import pandas as pd

In [2]:
columns = ["Email", "First Name", "Last Name", "Age", "Gender", "Comments"]
data = []

In [4]:
import sqlite3
with sqlite3.connect("../lesson.db") as conn:
    cursor = conn.cursor()

In [5]:
cursor.execute("PRAGMA foreign_keys = 1")

In [6]:
sql = """
  SELECT user.email, user.first_name, user.last_name, user.age, user.gender,        comments.comments FROM comments
  JOIN user ON comments.user_id = user.email
    WHERE user.email = 'tom@web.com'
    """

In [7]:
rows = cursor.execute(sql)

In [8]:
for row in rows:
    data.append(row)

In [9]:
df = pd.DataFrame(data, columns=columns)

In [10]:
df

         Email First Name Last Name  Age Gender                       Comments
0  tom@web.com        Tom      Fake   39      M  This is comment 0 by Tom Fake
1  tom@web.com        Tom      Fake   39      M  This is comment 1 by Tom Fake
2  tom@web.com        Tom      Fake   39      M  This is comment 2 by Tom Fake
3  tom@web.com        Tom      Fake   39      M  This is comment 3 by Tom Fake
4  tom@web.com        Tom      Fake   39      M  This is comment 4 by Tom Fake
5  tom@web.com        Tom      Fake   39      M  This is comment 5 by Tom Fake
6  tom@web.com        Tom      Fake   39      M  This is comment 6 by Tom Fake
7  tom@web.com        Tom      Fake   39      M  This is comment 7 by Tom Fake
8  tom@web.com        Tom      Fake   39      M  This is comment 8 by Tom Fake
9  tom@web.com        Tom      Fake   39      M  This is comment 9 by Tom Fake