1. Create a new colum

In [6]:
import pandas as pd

In [11]:
df = pd.read_csv("stock.csv")
df.head()

  Symbol  Price
0    MMM    100
1    AOS    101
2    ABT    102
3   ABBV    103
4    ACN    104

In [17]:
print("\nA column is created by assigning it in relation\n",'-'*75, sep='') 

df['New'] = df['Price'] + df['Price'] 

df['New (Sum of X and Z)'] = df['New'] + df['Price']

print(df)

A column is created by assigning it in relation
---------------------------------------------------------------------------
   Symbol  Price  New  New (Sum of X and Z)
0     MMM    100  200                   300
1     AOS    101  202                   303
2     ABT    102  204                   306
3    ABBV    103  206                   309
4     ACN    104  208                   312
5    ATVI    105  210                   315
6     AYI    106  212                   318
7    ADBE    107  214                   321
8     AAP    108  216                   324
9     AMD    109  218                   327
10    AES    110  220                   330
11    AET    111  222                   333
12    AMG    112  224                   336
13    AFL    113  226                   339
14      A    114  228                   342
15    APD    115  230                   345
16   AKAM    116  232                   348
17    ALK    117  234                   351
18    ALB    118  236                   354
19    ARE    119  238                   357
20   ALXN    120  240                   360
21   ALGN    121  242                   363
22   ALLE    122  244                   366
23    AGN    123  246                   369
24    ADS    124  248                   372
25    LNT    125  250                   375
26    ALL    126  252                   378
27  GOOGL    127  254                   381
28   GOOG    128  256                   384
29     MO    129  258                   387
30   AMZN    130  260                   390
31    AEE    131  262                   393
32    AAL    132  264                   396
33    AEP    133  266                   399
34    AXP    134  268                   402
35    AIG    135  270                   405
36    AMT    136  272                   408
37    AWK    137  274                   411
38    AMP    138  276                   414
39    ABC    139  278                   417
40    AME    140  280                   420
41   AMGN    141  282                   423
42    APH    142  284                   426
43    APC    143  286                   429
44    ADI    144  288                   432
45   ANDV    145  290                   435
46   ANSS    146  292                   438
47   ANTM    147  294                   441
48    AON    148  296                   444