In [1]:
import sqlite3
with sqlite3.connect("chapter.db") as conn:
    cursor = conn.cursor()

In [ ]:
cursor.execute("ALTER TABLE user ADD COLUMN gender text")

In [3]:
cursor.execute("UPDATE user SET gender='M'") 
conn.commit()

In [4]:
rows = cursor.execute('SELECT * FROM user')
for row in rows:
        print(row)

('bob@example.com2', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('tom@web.com2', 'Tom', 'Fake', '456 Fantasy lane, Fantasu City', 39, 'M')