In [2]:
import sqlite3 

with sqlite3.connect("chapter.db") as conn: 

    cursor = conn.cursor()

In [3]:
cursor.execute("INSERT INTO user VALUES ('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')")

In [4]:
rows = cursor.execute("SELECT COUNT(*), gender FROM user GROUP BY gender")
for row in rows:
        print(row)

(1, 'F')
(2, 'M')